# All files are treated as text files with Unix-style line endings by default
* text eol=lf

# All .bat files are treated as text files with Windows-style line endings by default
*.bat text eol=crlf

# All .cmd files are treated as text files with Windows-style line endings by default
*.cmd text eol=crlf

# All .png files are treated as binary by default
*.png binary

# All .ico files are treated as binary by default
*.ico binary

# All .icns files are treated as binary by default
*.icns binary

# All .jpeg files are treated as binary by default
*.jpeg binary

# All .jpg files are treated as binary by default
*.jpg binary

# All .bmp files are treated as binary by default
*.bmp binary

# All .gif files are treated as binary by default
*.gif binary

# All .ttf files are treated as binary by default
*.ttf binary

# All .otf files are treated as binary by default
*.otf binary

# All .woff files are treated as binary by default
*.woff binary

# All .woff2 files are treated as binary by default
*.woff2 binary

# All .eof files are treated as binary by default
*.eof binary

# All .flac files are treated as binary by default
*.flac binary

# All .wav files are treated as binary by default
*.wav binary

# All .mp3 files are treated as binary by default
*.mp3 binary

# All .ogg files are treated as binary by default
*.ogg binary

# All .mkv files are treated as binary by default
*.mkv binary

# All .mp4 files are treated as binary by default
*.mp4 binary
